.footer {
  background-color: #2f303a;
  padding: 60px 15px;
}

.footer__content {
  display: flex;
}

.footer__adresswrapper {
  margin-right: 70px;
}

.footer__socialwrapper {
  margin-top: 12px;
}

.footer__tagline {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__list {
  margin-top: 20px;
}

.footer__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__logo {
  color: #fff;
}

.footer__list {
  margin-top: 20px;
}

.footer__list--item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__adress {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.footer__mail,
.footer__tel {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__subscription {
  margin-left: auto;
  margin-top: 12px;
}

.footer__form {
  display: flex;
  height: 50px;
  margin-top: 20px;
}

.footer__email {
  width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 16px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #fff;
  border-radius: 4px;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer__btn {
  margin-left: 12px;
}

.footer__social {
  margin-top: 20px;

  .social__link-link {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .social__icon {
    fill: #fff;
  }
}
