.social-links-list {
  display: flex;
  justify-content: space-between;
  max-width: 206px;
  margin: 0 auto;
}

.social-links-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color var(--animation), background-color var(--animation);
}

.social-links-list {
  .social-links-item-link:hover,
  .social-links-item-link:focus {
    background-color: var(--accent-color);
  }
}

.social-links-item-link:hover .social-links-list-icon,
.social-links-item-link:focus .social-links-list-icon {
  fill: #ffff;
}

.social-links-item:not(:last-child) {
  margin-right: 10px;
}

.social-links-list {
  margin-top: 16px;
}

.social-links-list-icon {
  width: 20px;
  height: 20px;
  transition: fill var(--animation);
}

.social-links-item-link {
  fill: var(--icon-color);
}

.footer-social-link-list {
  margin-top: 20px;

  .social-links-item-link {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .social-links-list-icon {
    fill: #fff;
  }
}
