:root {
  --accent-color: #2196f3;
  --accent-dark-color: #188ce8;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --secondary-color: #ffff;
  --icon-color: #afb1b8;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --paragraph-color: #757575;
}
